[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/gokarna-hugo"]
	path = themes/gokarna-hugo
	url = git@github.com:gokarna-theme/gokarna-hugo.git
